.introduction-container {
    display: flex;
    background-color: midnightblue;
}

.introduction-img {
    background-color: peru;
    height: 100px;
    width: 100px;
    content: url(
        "https://cdn.jsdelivr.net/gh/devicons/devicon/icons/css3/css3-original.svg"
    );
    animation: 1s spin-img infinite;
}

.introduction-p {
    background-color: white;
}

@media (max-width: 500px) {
    .introduction-container {
        flex-direction: column;
    }
}

@keyframes spin-img {
    100% {
        transform: rotate(360deg);
    }
}