.project-content {
    display: flex;
    background-color: greenyellow;
}

.project-img {
    background-color: mediumspringgreen;
    height: 100%;
    width: 50%;
}

.project-text { 
    background-color: goldenrod;
}

