.project-container {
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: auto auto;
    gap: 1px;
}

@media (max-width: 1000px) {
    .project-container {
        grid-template-columns: auto;
    }
}