.project-content {
    display: flex;
    flex-direction: column;
}

.project-img {
    background-color: mediumspringgreen;
    height: 100px; 
}

.project-text { 
    background-color: goldenrod;
}

.info-container {
    display: flex;
    flex-direction: column;
}

.link-container {
    display: flex;
    background-color: bisque;
    gap: 5px;
}

@media (max-width: 500px) {
    .project-content {
        flex-direction: column;
    }
}
