* {
    margin: 0;
    padding: 0;
}

html {
    height: 100dvh;
}

body {
    display: flex;
    flex-direction: column;
    background-color: yellow;
}

header,
footer {
    background: grey;
    height: 5rem;
}

main {
    display: flex;
    flex-direction: column;
}

@media (max-width: 500px) {

}